/* base.css */
:root {
  /* Color Palette Variables */
  --header-color: #A3B18A;      /* Sage */
  --bg-color: #FEFAE0;          /* Cornsilk */
  --hover-color: #CCD5AE;       /* Light tea green */
  --text-color: #EAF4F4;        /* Light pastel for text */
  --border-color: #6B705C;      /* Dark sage/reseda green */
  --item-card-color: #FAEDCD;   /* Papaya whip for item cards */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
}

header {
  background-color: var(--header-color);
  color: var(--text-color);
  text-align: center;
  height: 80px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}

.nav-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.main-nav a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  color: var(--text-color);
  text-decoration: none;
}

.main-nav a:hover {
  background-color: var(--hover-color);
  height: 100%;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
