/* random-outfit.css */
.outfit-display {
  display: flex;
}

.outfit-generator {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  border-radius: 6px;
  text-align: center;
  box-sizing: border-box;
}

.row-top {
  display: flex;
}

.scroll-bar {
  background-color: var(--item-card-color);
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70.5vh;
  margin-top: 62px;
}

.generate {
  flex: 3;
}

input[type="text"],
select {
  width: 90%;
  background-color: var(--bg-color);
  padding: 10px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
}

input[type="text"]:focus,
select:focus {
  outline: none;
  border-color: var(--border-color);
}

.outfit-canvas {
  background-color: var(--item-card-color);
  min-height: 70vh;
  border: 2px dashed #ccc;
  position: relative;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.button-container .generate-btn,
.button-container .save-btn,
.button-container .clear-btn {
  background-color: var(--header-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.generate-btn:hover,
.clear-btn:hover,
.save-btn:hover {
  background-color: var(--hover-color);
}

.draggable-item {
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
  cursor: move;
  transition: opacity 0.3s;
  max-width: 120px;
  max-height: 200px;
}