<!-- generate-outfit.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Random Outfit - Digital Closet</title>
  <link rel="stylesheet" href="/static/base.css" />
  <link rel="stylesheet" href="/static/generate-outfit.css" />
  <link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
</head>
<body>
  <header>
    <nav class="main-nav">
      <div class="nav-section left-links">
        <a href="/upload">Upload</a>
        <a href="/random-outfit">Generate</a>
      </div>
      <div class="logo">
        <a href="/">fits</a>
      </div>
      <div class="nav-section right-links">
        <a href="/search">Search</a>
        <a href="/friends">Friends</a>
        <a href="/logout">Logout</a>
      </div>
    </nav>
  </header>

  <main class="outfit-display">
    <div class="outfit-generator">
      <div class="row-top">
        <div class="scroll-bar"></div>
        <div class="generate">
          <input type="text" id="outfit-name" placeholder="Outfit Name"/>
          <div class="outfit-canvas"></div>
        </div>
      </div>
      <div class="row-bottom button-container">
        <button class="generate-btn" type="button">Generate Outfit</button>
        <button class="clear-btn" type="button">Clear</button>
        <button class="save-btn" type="button">Save</button>
      </div>
    </div>
  </main>

  <script src="/static/scripts/generate-outfit.js"></script>

</body>
</html>
