<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Digital Closet - Home</title> 
  <link rel="stylesheet" href="/static/base.css"/>
  <link rel="stylesheet" href="/static/index.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
  <header>
    <nav class="main-nav">
      <div class="nav-section left-links">
        <a href="/upload">Upload</a>
        <a href="/random-outfit">Generate</a>
      </div>
      <div class="logo">
        <a href="/">fits</a>
      </div>
      <div class="nav-section right-links">
        <a href="/search">Search</a>
        <a href="/logout">Logout</a>
      </div>
    </nav>
  </header>

  <main>
    <div class="display">
      <div class="friends-header">
        <div class="dropdown">
          <button class="dropbtn">Friends' Fits ▾</button>
          <div class="dropdown-content">
            <input type="text" id="search-friends" placeholder="Search Friends">
            <div id="friends-list-container">
            </div>
          </div>
        </div> 
    
        <div class="dropdown">
          <button class="dropbtn">Add Friend ▾</button>
          <span id="pending-requests-count" class="pending-requests-count"></span>
          <div class="dropdown-content">
            <div id="pending-requests" class="hidden">
              <h3>Pending Requests</h3>
              <div id="requests-list"></div>
            </div>
            
            <div id="add-friend-form">
              <div class="search-container">
                <input type="text" id="friend-search-input" placeholder="Search by NetID">
                <div id="search-results" class="search-results"></div>
              </div>
              <div id="add-friend-message"></div>
            </div>
          </div>
        </div>
      </div>

      <div id="outfits-container" class="hidden">
      </div>
    </div>
  </main>

  <script>
    const currentUserId = {{ user_id }};
  </script>
  <script src="/static/scripts/index.js"></script>
</body>
</html>