<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Login - Digital Closet</title>
  <link rel="stylesheet" href="/static/base.css" />
  <link rel="stylesheet" href="/static/login.css" />
  <link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="main-nav">
      <div class="logo">
        <a href="/">fits</a>
      </div>
    </nav>
  </header>
  <div class="login-container">
    <form class="cas-login-form" action="/login" method="GET">
      <button type="submit" class="cas-button">
        Sign in with Yale CAS
      </button>
    </form>
  </div>
</body>
</html>
